* {
    box-sizing: border-box;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}